version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: fintech_nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
      - auth-service
      - transaction-service
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - fintech_network

  frontend:
    image: venkatesh1432/fintech-frontend:latest
    container_neame: fintech_frontend
    expose: 
      - "3000"
    env_file:
      - ./frontend/.env
    networks:
      - fintech_network

  auth-service:
    image: venkatesh1432/fintech-auth-service:latest
    container_name: auth_service
    expose:
      - "4001"
    env_file:
      - ./service/auth-service/.env
    networks:
      - fintech_network

  transaction-service:
    image: venkatesh1432/fintech-transaction-service:latest
    container_name: transaction_service
    expose:
      - "4003"
    env_file:
      - ./service/transaction-service/.env
    networks:
      - fintech_network

networks:
  fintech_network:
    driver: bridge
